* {
  box-sizing: border-box;
  font-family: "monospace";
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

form, fieldset, section{
  margin: 0;
  padding: 0;
  border: none;
}

#date, h1 {
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  border: none;
}

li{ list-style-type: none; }
li:nth-of-type(odd):not(.adder) { background-color: #ffdddd; }
li:nth-of-type(even):not(.adder) { background-color: #ddddff; }
.inner-buttons { align-items: center; }
.right-button { float: right; }

@media only screen and (max-width: 768px) {
  .date-todo, .todo-log {
    width: 100%;
    display: block;
  }

  .list-text, .inner-buttons {
    display: block;
    width: 100%;
  }
} 

@media only screen and (min-width: 768px) {
  .date-todo, .todo-log {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  .list-text, .inner-buttons {
    display: inline-block;
    width: 49%;
  }
}